Perguntas:
- Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?
- Quantos gêneros cada filme tem, em média?
- Quais são os cinco filmes com maior número de gêneros?
- Quantos usuários deram nota para o filme "The Matrix"?
- Quantos usuários, em média, deram nota para cada filme?
- Quais são os cinco filmes para os quais mais usuários deram nota?
- Qual o rating médio do filme "The Matrix"?
- Cada filme tem um rating médio. Qual a média desses ratings, por gênero?
- Para cada gênero de filme, quantos usuários deram cada nota possível?

Dicas:
1. Só é necessário as tabelas movies e ratings para este projeto.
2. Pesquise a função "explode" no pandas. Ela pode ser útil.

In [235]:
import pandas as pd
import numpy as np

df_rating = pd.read_table('C:/Users/mariliada/Desktop/LETS_CODE/trabalho/movie/ratings.csv',
header=0, sep=',', decimal = '.')
df_rating.head()
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [238]:
df_movie = pd.read_table('C:/Users/mariliada/Desktop/LETS_CODE/trabalho/movie/movies.csv',
header=0, sep=',' )
#df2['genres'].replace('|','*')
df_movie['generos'] = df_movie.genres.str.split('|')
df_movie_splited = df_movie.explode('generos')
df_movie_splited
df_movie_splited.head(3)
df_movie_splited.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22084 entries, 0 to 9741
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  22084 non-null  int64
 1   title    22084 non-null  object
 2   genres   22084 non-null  object
 3   generos  22084 non-null  object
dtypes: int64(1), object(3)
memory usage: 862.7+ KB

In [240]:

df_joited = df_rating.join(df_movie_splited.set_index('movieId'), on = 'movieId')
df_joited.head(2)
df_joited.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274480 entries, 0 to 100835
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     274480 non-null  int64
 1   movieId    274480 non-null  int64
 2   rating     274480 non-null  float64
 3   timestamp  274480 non-null  int64
 4   title      274480 non-null  object
 5   genres     274480 non-null  object
 6   generos    274480 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 16.8+ MB

In [ ]:
Perguntas:

- Cada filme tem um rating médio. Qual a média desses ratings, por gênero?
- Para cada gênero de filme, quantos usuários deram cada nota possível?

In [241]:
# Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?

mask_matrix = df_movie_splited.loc[df_movie_splited['title'].str.contains("Matrix", regex=False)]
mask_matrix
mask_matrix.generos.unique()

array(['Action', 'Sci-Fi', 'Thriller', 'Adventure', 'IMAX'], dtype=object)

In [243]:
#Quantos gêneros cada filme tem, em média?
df_genero = df_movie_splited.groupby('title').agg('generos').count()
df_genero.mean()

2.2680497073020436

In [244]:
#Quais são os cinco filmes com maior número de gêneros?
df_top5 = df_movie_splited.groupby('title').agg('generos').count()
df_top5.sort_values().tail(5)

title
Aqua Teen Hunger Force Colon Movie Film for Theaters (2007)        7
Aelita: The Queen of Mars (Aelita) (1924)                          7
Patlabor: The Movie (Kidô keisatsu patorebâ: The Movie) (1989)     8
Confessions of a Dangerous Mind (2002)                             9
Rubber (2010)                                                     10
Name: generos, dtype: int64

In [250]:
#Quantos usuários deram nota para o filme "The Matrix"?

df_joited_2 = df_rating.join(df_movie.set_index('movieId'), on = 'movieId')
df_joited_2.head(2)

mask_matrix = df_joited_2.loc[df_joited_2['title'].str.contains("Matrix", regex=False)]
mask_matrix.groupby('title').agg('userId').count()
#mask_matrix['usuários'] = mask_matrix.userId.unique()
#mask_matrix_2 = mask_matrix.groupby(['title','userId']).agg('userId').unique()
#mask_matrix_2.groupby('title').agg('userId').count()

title
Matrix Reloaded, The (2003)        96
Matrix Revolutions, The (2003)     79
Matrix, The (1999)                278
Name: userId, dtype: int64

In [251]:
# Quantos usuários, em média, deram nota para cada filme?

df_joited_2.groupby('title').agg('userId').mean()

title
'71 (2014)                                   610.000000
'Hellboy': The Seeds of Creation (2004)      332.000000
'Round Midnight (1986)                       354.500000
'Salem's Lot (2004)                          345.000000
'Til There Was You (1997)                    229.000000
                                                ...
eXistenZ (1999)                              389.954545
xXx (2002)                                   272.916667
xXx: State of the Union (2005)               386.000000
¡Three Amigos! (1986)                        279.807692
À nous la liberté (Freedom for Us) (1931)    527.000000
Name: userId, Length: 9719, dtype: float64

In [252]:
#Quais são os cinco filmes para os quais mais usuários deram nota?
df_top_rating = df_joited_2.groupby('title').agg('userId').mean().copy()
df_top_rating.nlargest(5)

title
'71 (2014)                   610.0
13 Sins (2014)               610.0
31 (2016)                    610.0
ABCs of Death, The (2012)    610.0
Abandoned, The (2006)        610.0
Name: userId, dtype: float64

In [253]:
#Qual o rating médio do filme "The Matrix"?

mask_matrix = df_joited_2.loc[df_joited_2['title'].str.contains("Matrix", regex=False)]
mask_matrix.groupby('title').agg('rating').mean()

title
Matrix Reloaded, The (2003)       3.354167
Matrix Revolutions, The (2003)    3.151899
Matrix, The (1999)                4.192446
Name: rating, dtype: float64